.btn-group {
    margin-top: 20px;
}

@media (max-width: 575px) {
    .btn-group {
        flex-direction: column;
        width: 100%;
        button {
            font-size: 14px;
        }
    } 
}