.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
    input {
        width: 33%;
        margin-right: 20px;
        &:invalid {
            border: 1px solid red;
        }
    }
    button {
        width: 33%;
    }
}

@media (max-width: 575px) {
    .app-add-form {
        margin-top: 15px;
        h3 {
            font-size: 18px;
        }
    }
    .add-form {
        margin-top: 15px;
        flex-direction: column;
        input {
            width: 100%;
            margin-bottom: 10px;
            font-size: 14px;
        }
        button {
            font-size: 14px;
            width: 100%;
        }
    }
}